body {
  background: #186c9c;
  font-family: "sans-serif";
  font-weight:600;
  color: #e3f2fd;
  text-align: center;
}
#app {
  width:80%;
  height:75%;
  padding: 10px;
  line-height: 1.5;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 2px 2px 4px 0px rgba(200,200,200,1);
  position: absolute;
  left: 8%;
  top: 10%;
  animation: anime 0.5s ease;
}
@keyframes anime {
    0% {
        opacity:  0.0;
        transform: translateY(-10%);
    }
    100% {
        opacity:  1.0;
        top: translateY(0%);
    }
}

.analyze_mode{
  /*transform: translateX(20em);*/
  /*text-align: center;*/
}

.file_mode{
  /*transform: translate(20em,3em);*/
  /*text-align: center;*/
}

.cp_iptxt {
  width: 30%;
  margin-right:auto;
  margin-left:auto;

}
.cp_iptxt input[type='text'] {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 50%;
  padding: 0.3em;
  transition: 0.3s;
  letter-spacing: 1px;
  color: #aaaaaa;
  border: none;
  border-bottom: 2px solid #1b2538;
  background: transparent;
}
.ef input[type='text']:focus {
  border-bottom: 2px solid #da3c41;
  outline: none;
}
.waku {
  background: #000;
  color: #fff;
  cursor: pointer;
  padding: 20px 40px;
  margin: 1% 0% 0 0;
  display: inline-block;
  box-shadow: 2px 2px 4px 0px rgba(70,71,117,1);
  border-radius: 5px;
  /*transform: translateX(8em);*/
}
input[type="file"] {
    display: none;
}
label:hover {
    opacity:  0.7;
}

#oomozi {
  font-family: "Courier New";
  font-size: 1.4em;
  color: #ffd700;
  width: 0.5em;
}

#upload_button {
  font-family: "Courier New";
  border-radius: 5px;
  background: #333;
  color: #fff;
  padding: 0.6em 0.8em;
  text-align: center;
  /*transform: translateX(11.5em);*/
  position: relative;
}

#upload_state {
  color: #fff;
  position: relative;
  /*transform: translateX(9.5em);*/
}