
body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  background: #186c9c;
}
/*
body {
      background: #b0c4de
      font-family: "sans-serif";
      font-weight:600;
      color:#b0c4de;
}
*/
#cy {
  height: 90%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 20;
  background: #ffff;
}
label {
  background: #000;
  font-family: "sans-serif";
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 10px 10px 10px;
  display: inline-block;
  box-shadow: 2px 2px 4px 0px rgba(70,71,117,1);
  border-radius: 5px;
}
#icon {
  background: #000;
  color: #fff;
  padding: 0px 0px;
  display: inline-block;
  box-shadow: 0px 0px 4px 0px rgba(70,71,117,1);
  border-radius: 5px;
}

#download_text{
  padding: 8px 8px;
}
.nondisp {
        display: none;
}