<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Uniprot Tool</title>
  <link href="/static/index.css" rel="stylesheet" />
</head>
<body>
  <div id="app">
  <form action="/graph" enctype="multipart/form-data">
    <!--<a>Analyze a protein and display a graph.</a><br>-->
    <div class="analyze_mode">
      <a id="oomozi">Analyze a protein and display a graph.</a>
      <div class="cp_iptxt">
        Accession Number:<br>
        <label class="ef">
          <input type="text" name="query" value="O60315" placeholder="Enter a protein">
        </label>
      </div>
      <div class="cp_iptxt">
        Depth:<br>
        <label class="ef">
          <input type="text" name="depth" value="1" placeholder="Set the depth">
        </label>
      </div>
      <button type="submit" formmethod="get" id="upload_button">Create a graph</button><br>
    </div>
    <div class="file_mode">
      <a id="oomozi">Display the graph from the uploaded json.</a><br>
      <!--<a>Display the graph from the uploaded json</a>-->
      <label for="sample1" class="waku">
        ファイルを選択
        <input type="file" name="fileup" size="30" id="sample1">
      </label>
      <p id="upload_state">選択されていません</p>
      <button type="submit" formmethod="post" id="upload_button" >Create a graph</button>
    </div>
  <form>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
  <script type="text/javascript">
    $('input').on('change', function () {
      var file = $(this).prop('files')[0];
      $('p').text(file.name);
  });
  </script>
  </div>
</body>
</html>